@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: 'poppins'; */
    font-family: "Montserrat", sans-serif;

}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.order-summary {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.yourdetails {
    display: inline-block;
    font-size: x-large;
    padding-bottom: 15px;
}

.inside {
    background-color: white;
    height: 80vh;
    width: 30vw;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.nameclass {
    margin-left: 15px;
}

input[type="text"] {
    width: 210px;
    /* Set the desired width */
    padding: 10px;
    /* Add some padding for better appearance */
    margin-bottom: 10px;
    /* Add margin to space out the inputs */
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
    /* padding-left: 10px; */
}

.emailclass {
    margin-left: 15px;
}

input[type="email"] {
    width: 440px;
    /* Set the desired width */
    padding: 10px;
    /* Add some padding for better appearance */
    margin-bottom: 10px;
    /* Add margin to space out the inputs */
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
}

.phoneclass {
    margin-left: 15px;
}


input[type="tel"] {
    width: 210px;
    /* Set the desired width */
    padding: 10px;
    /* Add some padding for better appearance */
    margin-bottom: 10px;
    /* Add margin to space out the inputs */
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
}


.flatno {
    margin-left: 15px;
}

.building {
    margin-left: 15px;
}

.area {
    margin-left: 15px;
}

.city {
    margin-left: 15px;
}

.state {
    margin-left: 15px;
}

.pincode {
    margin-left: 15px;
}

.paymentmethod {
    margin-left: 15px;
}

select {
    width: 440px;
    /* Match the width of the input fields */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.discount {

    display: inline-block;
    color: #388e3c;
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
}

.submit {
    width: 440px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    padding: 10px 50px;
}

@media screen and (max-width:1025px) {

    .form {
        margin-left: 27px;
    }
    .inside {
        width: 70vh;
    }
    input[type="text"] {
        width: 165px;
        margin-bottom: 3px;
    }
    .nameclass {
        margin-left: 10px;
        margin-right: 10px;
    }
    input[type="email"] {
        width: 355px;
        margin-bottom: 3px;
    }
    .emailclass {
        margin-top: -50px;
        margin-left: 10px;
    }
    input[type="tel"] {
        margin-bottom: 3px;
        width: 165px;
    }
    .phoneclass {
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 3px;

    }
    .flatno {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        margin-bottom: 3px;


    }
    .building {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        margin-bottom: 3px;


    }
    .area {
        margin-top: -50px;

        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 3px;

    }

    .city {
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;

        margin-bottom: 3px;

    }

    .state {
        margin-left: 10px;
        margin-top: -50px;

        margin-right: 10px;
    }

    .pincode {
        margin-left: 10px;
        margin-top: -50px;

        margin-right: 10px;
    }

    .paymentmethod {
        margin-left: 10px;
        margin-top: -50px;

        margin-right: 10px;
    }

    select {
        width: 355px;
        margin-left: 10px;
        margin-top: -50px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .discount {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -70px;

    }

    .submit {
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;

    }

}

@media screen and (max-width:769px) {

    .form {
        margin-left: 0;
    }
    .inside {
        width: 60vh;
    }
    input[type="text"] {
        width: 165px;
        margin-bottom: 3px;
    }
    .nameclass {
        margin-left: 10px;
        margin-right: 10px;
    }
    input[type="email"] {
        width: 355px;
        margin-bottom: 3px;
    }
    .emailclass {
        margin-top: -50px;
        margin-left: 10px;
    }

    input[type="tel"] {
        margin-bottom: 3px;
        width: 165px;
    }
    .phoneclass {
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 3px;

    }
    .flatno {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        margin-bottom: 3px;
    }
    .building {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        margin-bottom: 3px;
    }
    .area {
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 3px;
    }
    .city {
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 3px;
    }
    .state {
        margin-left: 10px;
        margin-top: -50px;
        margin-right: 10px;
    }
    .pincode {
        margin-left: 10px;
        margin-top: -50px;
        margin-right: 10px;
    }
    .paymentmethod {
        margin-left: 10px;
        margin-top: -50px;
        margin-right: 10px;
    }
    select {
        width: 355px;
        margin-left: 10px;
        margin-top: -50px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .discount {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -70px;
    }
    .submit {
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:426px) {
    .inside {
        width: 80%
    }
    input[type="text"] {
        width: 165px;
        margin-bottom: 3px;
    }
    .nameclass {
        margin-left: -5px;
        margin-right: 5px;
    }
    input[type="email"] {
        width: 335px;
        margin-bottom: 3px;
    }
    .emailclass {
        margin-top: -50px;
        margin-left: -5px;
    }
    input[type="tel"] {
        margin-bottom: 3px;
        width: 165px;
    }
    .phoneclass {
        margin-top: -50px;
        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
    .flatno {
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -50px;
        margin-bottom: 3px;
    }
    .building {
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -50px;
        margin-bottom: 3px;
    }
    .area {
        margin-top: -50px;
        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
    .city {
        margin-top: -50px;
        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
    .state {
        margin-left: -5px;
        margin-top: -50px;
        margin-right: 5px;
    }
    .pincode {
        margin-left: -5px;
        margin-top: -50p x;
        margin-right: 5px;
    }

    .paymentmethod {
        margin-left: -5px;
        margin-top: -50px;

        margin-right: 5px;
    }

    select {
        width: 335px;
        margin-left: -5px;
        margin-top: -50px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .discount {
        display: inline-block;
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -70px;

    }

    .submit {
        width: 335px;
        margin-left: -5px;
        margin-right: 5px;

    }

}



@media screen and (max-width:376px) {
    .inside {
        width: 80%
    }



    input[type="text"] {
        width: 147px;
        margin-bottom: 3px;
    }

    .nameclass {
        margin-left: -5px;
        margin-right: 5px;
    }

    input[type="email"] {
        width: 298px;
        margin-bottom: 3px;
    }

    .emailclass {
        margin-top: -50px;
        margin-left: -5px;
    }

    input[type="tel"] {
        margin-bottom: 3px;
        width: 147px;
    }

    .phoneclass {
        margin-top: -50px;
        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;

    }

    .flatno {
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -50px;
        margin-bottom: 3px;


    }

    .building {
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -50px;
        margin-bottom: 3px;


    }

    .area {
        margin-top: -50px;

        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;

    }

    .city {
        margin-top: -50px;

        margin-left: -5px;
        margin-right: 5px;

        margin-bottom: 3px;

    }

    .state {
        margin-left: -5px;
        margin-top: -50px;

        margin-right: 5px;
    }

    .pincode {
        margin-left: -5px;
        margin-top: -50px;

        margin-right: 5px;
    }

    .paymentmethod {
        margin-left: -5px;
        margin-top: -50px;

        margin-right: 5px;
    }

    select {
        width: 298px;
        margin-left: -5px;
        margin-top: -50px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .discount {
        display: inline-block;
        margin-left: -5px;
        margin-right: 5px;
        margin-top: -70px;

    }

    .submit {
        width: 298px;
        margin-left: -5px;
        margin-right: 5px;

    }

}